---
name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    strategy:
      matrix:
        node-version: [20, 22, 24, 25]
        platform: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Dependencies
        run: pnpm install -r
      - name: Install system components
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gnome-keyring dbus dbus-x11
      - name: dbus, if needed
        if: matrix.platform == 'ubuntu-latest'
        run: |
          dbus-run-session -- bash -c "rm -f $HOME/.local/share/keyrings/* && echo -n "test" | gnome-keyring-daemon --unlock && npm run build"
      - name: Test ${{ matrix.node-version }} ${{ matrix.platform }}
        if: matrix.platform != 'ubuntu-latest'
        run: npm run build
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
